<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Congratulation!!🤣😉😎</title>
</head>
<style>
    *{
        padding: 0;
        margin: 0;
    }
    h1{
        text-align: center;
        margin-top: 150px;
        color: #e80707;
    }
    .mask{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #dde0e0;
        z-index: -1;
    }
    img{
        width: 100%;
        opacity: 0.2;
    }
</style>
<body>
<div class="mask">
    <img src="/static/succ.jpg" alt="图片找不到...">
</div>
<div class="box01">
    <h1>恭喜您注册成功!!🤣🤣🤣</h1>
    <h1>恭喜您注册成功!!🤣🤣🤣</h1>
</div>
</body>
</html>